{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>FitnessPro - {% block title %}{% endblock title %}</title>

    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/static/assets/css/style.css" rel="stylesheet">
</head>
<body>
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

        <h4 class="me-auto me-lg-0"><a class="text-light" href="/">Trening_<span class="text-danger">Pro</span></a></h4>
        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto" href="/">Главная</a></li>
                <li><a class="nav-link scrollto" href="/sport">Виды спорта</a></li>
                <li><a class="nav-link scrollto" href="/contact">Оставить отзыв</a></li>
                <li class="dropdown"><a href="#"><span>Действия</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/attendance">Записаться</a></li>

                        <li><a href="/profile">Ваш профиль</a></li>
                    </ul>
                </li>

                {% if not request.user.is_authenticated %}
                    <li><a class="nav-link scrollto" href="/login">Войти</a></li>
                {% else %}
                    <li><a class="nav-link scrollto" href="/logout">Выйти</a></li>
                {% endif %}

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>

<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                {% block head %}

                {% endblock %}
            </div>
        </div>
    </div>
</section>
<main id="main">
    {% block body %}

    {% endblock %}
</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
</body>
</html>