{% extends 'base.html' %}

{% block title %} Список видов спорта {% endblock %}

{% block head %}
    <h4 class="mt-4 mb-5 text-light"><strong>Все доступные виды спорта</strong></h4>
    <div class="d-flex justify-content-center">
        {% for item in tren %}
            <div class="card m-5 border-danger" style="width: 18rem;">
                <img src="{{item.img.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">{{ item.body }}</p>
                    <a href="{% url 'attendance' %}?id=id_sport" class="btn btn-danger">Перейти к заполнению заявки</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}